@model AdminApp.Models.ViewModels.AgregarUsuarioViewModel1

@{
	Layout = "AdminLayout";
}


<section class="main">
	<div class="search-section">
		<div class="jugadores-section">
			<i class="fas fa-user"></i>
			<span>Editar Usuario</span>
		</div>
	</div>
	

	<form action="~/Administrador/Usuarios/EditarUsuario" method="post" enctype="multipart/form-data">
		<input type="hidden" value="@Model.Id" name="Id" />
		<section class="attendance">
			<div class="attendance-list">
				<div class="form-group">
					<div class="half-width">
						<label for="nombre">Nombre de usuario:</label>
						<input type="text" id="nombre" name="NombreUsuario" value="@Model.NombreUsuario" />
						@* @Html.ValidationMessageFor(model => model.NombreUsuario, "", new { @class = "text-danger" }) *@
					</div>
					<div class="half-width">
						<label for="apellidos">Contraseña:</label>
						<input type="text" id="apellidos" name="Contraseña" value="@Model.Contraseña" />
						@* @Html.ValidationMessageFor(model => model.Contraseña, "", new { @class = "text-danger" }) *@
					</div>
					<div class="half-width">
						<label for="apellidos">Nombre:</label>
						<input type="text" id="apellidos" name="Nombre" value="@Model.Nombre"  />
						@* @Html.ValidationMessageFor(model => model.Nombre, "", new { @class = "text-danger" }) *@
					</div>
					<div class="half-width">
						<label for="IdRol">Rol:</label>

						<select id="IdRol" value="@Model.IdRol" name="IdRol">
							@foreach (var item in Model.ListaRoles)
							{
								@if (Model.IdRol == item.Id)
								{
									<option selected value="@item.Id">@item.NombreRol</option>
								}
								else
								{
									<option value="@item.Id">@item.NombreRol</option>
								}
							}
						</select>
						@* @Html.ValidationMessageFor(model => model.IdRol, "", new { @class = "text-danger" }) *@
					</div>
					<div class="half-width">
						<label for="IdCaja">Caja:</label>
						<select id="IdCaja" value="@Model.IdCaja" name="IdCaja">

							@foreach (var item in Model.ListaCajas)
							{
								@if(Model.IdCaja == item.Id)
								{
									<option selected="@Model.IdCaja" value="@item.Id">@item.NombreCaja</option>
								}
								else if(item.Id != Model.IdCaja && item.Id != 0)
								{
									<option value="@item.Id">@item.NombreCaja</option>
								}
							}
							@if (Model.IdCaja == 0 || Model.IdCaja == null)
							{
								<option value="null" selected>Ninguna</option>
							}
							else
							{
								<option value="null">Ninguna</option>
							}

							@* @foreach (var item in Model.ListaCajas)
							{
								<option selected="@Model.IdCaja" value="@item.Id">@item.NombreCaja</option>
							}
							@if (Model.IdCaja == 0 || Model.IdCaja == null)
							{
								<option value="null" selected>Ninguna</option>
							}
							else
							{
								<option value="null">Ninguna</option>
							} *@
							>
						</select>
						@* @Html.ValidationMessageFor(model => model.IdCaja, "", new { @class = "text-danger" }) *@
					</div>
				</div>
				<label style="color: red">@Model.Error</label>
			</div>
			<!-- Botones -->
			<div class="buttons">
				<input type="submit" value="Editar Usuario" class="accept-button" />
				<a href="~/Administrador/Usuarios/Index">
					<input type="button" value="Cancelar" class="cancel-button" />
				</a>
			</div>
		</section>
	</form>
</section>




